@tailwind base;
@tailwind components;
@tailwind utilities;

@import './font.css';
@import './bg.css';
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.swiper-pagination-bullet-active {
  background: #5C3CAF
}